{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
    <header class="head">
        <a href="{% url 'home' %}"><button class="head_button">Home</button></a>
        <button class="head_button">DB</button>
        <button class="head_button">About</button>
        <a href="{% url 'raspberry' %}"><button class="head_button">Raspberry</button></a>
    </header>

    <div class="info_pi">
        <label class="pi_info">ID: {{my_id }}%</label>
        <label class="pi_info">CPU: {{ cpu_usage }}%</label>
        <label class="pi_info">RAM: {{ memory_usage }}%</label>
        <label class="pi_info">SSD: {{ disk_usage }}%</label>
        <label class="pi_info">TASK: {{ running_processes }}</label>
        <label class="pi_info">TEMP: {{ temperature }}°C</label>
        <label class="pi_info">{{ timestamp }}</label>
        <button>re</button>
    </div>