{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
    <header class="head">
        <button class="head_button">Home</button>
        <button class="head_button">DB</button>
        <a href="{% url 'about' %}"><button class="head_button">About</button></a>
        <a href="{% url 'raspberry' %}"><button class="head_button">Raspberry</button></a>
    </header>
    <h1>Главная страница</h1>

    <h2>Список пользователей</h2>
    <ul>
        {% for item in db_users %}
            <li>
                ID: {{ item.user_id }} |
                NAME: {{ item.username }} |
                DISCORD: {{ item.discord_on }} |
                DISCORD LINK: {{ item.discord_link }} |
                DISCORD_LIST(on/off): {{ item.list_weekend }}
            </li>
        {% empty %}
            <li>No users found.</li>
        {% endfor %}
    </ul>

    <h2>Системные метрики</h2>
    <ul>
        {% for item in db_system_metrics %}
            <li>
                ID: {{ item.id }} |
                CPU Usage: {{ item.cpu_usage }} |
                Memory Usage: {{ item.memory_usage }} |
                Disk Usage: {{ item.disk_usage }} |
                Running Processes: {{ item.running_processes }} |
                Temperature: {{ item.temperature }} |
                Timestamp: {{ item.timestamp }}
            </li>
        {% empty %}
            <li>No system metrics found.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'about' %}"><button>О нас</button></a>
</body>
</html>
