.head {
    display: flex;
    background-color: white; /* правильный цвет */
    justify-content: center;
    border-radius: 5px;
}

.head_button {
    margin-left: 20px; /*отступ на:*/
    width: 200px; /* щирина на:*/
    height: 50px; /* высота на:*/
    border-radius: 5px;
}

body {
    background-color: #d0d0d0;
}

.info_pi {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
}

.pi_info {
    margin-left: 20px;
}