<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Title</title>
</head>
<body>
    <main>
        <div>
            <label>Выбери игру:</label>
            <select name="game" id="game_select">
                <option value="">-- Выбери игру --</option>
                <option value="cs2">Counter-Strike 2</option>
            </select>
            <button name="button">Добавить</button>
        </div>
    </main>
</body>
</html>